.conten_empleado {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
}

.table_empleado {
  margin-top: 1rem;
  width: 80%;
  padding: 20px 0;
  font-size: x-large;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
table {
  width: 90%;
}
tr {
  border-bottom: solid 2px black;
}
.th {
  text-align: left;
  padding-bottom: 1rem;
}
td {
  height: 3rem;
}
